/*body {
  background-color: #dadada;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}*/

body > div,
body > div > div,
body > div > div > .ui.grid {
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

 body {

	background-color: #dadada;
	background-image: url("./static/images/Background.jpg");
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}

body > .ui.grid {
	height: 100%;
}

.column {
	max-width: 450px;
}
.image {
	color: black;
}
